<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/b3a8e06bd3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <form action = "/adminDash" method="POST"></form>
        <div class="dashboard_v5_11">
            <div class="dashboard_v20_155">
            <img class="v13_23" src = "/images/Vectorbackarrow.png"   onclick="location.replace('home')"/>
            <img class = "v119_1814" src="/images/e-learning-isometric-composition_1284-21095 4logo.png"  />
            <img class = "choka_register" src="/images/Group 9.png" />
            <!-- <img class = "ProfileImage dashprofile" src="/images/imgbin_user-interface-design-computer-icons-default-png.png" alt="o" /> -->
            
            <!-- <span class= "view">View Profile</span> -->
            <span class="v13_3">Back to Home</span>

        </div>
            <!-- <span class="tab_text">
                choka.com
            </span> -->
            
            <div class="tab_pic"></div>
            <div class="dashboard_2"></div>
            <!-- <button <i class="fa fa-long-arrow-left"> </i> </button> -->
            <!-- <span class="back_text">Back to Home</span> -->
            <span class="welcome_text" id = "n"></span>
            <div class="left_tab"></div>
            <div class="dashboard_v124_172">
                <img class = "dashboard_v124_173" src="/images/Vectordshr.png" />
            </div>
            <div class="dashboard_v99_1426">
                <img class = "dashboard_v99_1427" src="/images/Vectorlog2.png" />
                <img class = "dashboard_v99_1428" src="/images/Vectorlog1.png" />
            </div>
            <div class="dashboard_v99_1420">
                <div class="dashboard_v99_1421">
                    <img class = "dashboard_v99_1422" src="/images/Vectorsett.png" />
                    <img class = "dashboard_v99_1423" src="/images/Vectorcircle.png" />
                    <img class = "dashboard_v99_1424" src="/images/Vectorcircle.png" />
                    <img class = "dashboard_v99_1425" src="/images/Vectorcircle.png" />
                </div>
            </div>
            <div class="notifications_icon">
                <img class="notifications_icon2"src="/images/Vectornotif.png"/>
            </div>
            
            <img class="tutors_icon"src="/images/Vectorexp1.png"/>
            <span class="dashboard_text">Dashboard</span>
            <span class="del_account_text">Deleted Accounts</span>
            <span class="blocked_text">Blocked Accounts</span>
            <span class="reports_text">Reports</span>
            <span class="notifications_text">Notifications</span>
            <span class="settings_text">Settings</span>
            <span class="logout_text">Log out</span>
            <div class="dashboard_icon">
                <img class="dashboard_v99_1408" src="/images/Vectordashboard.png"/>
            </div>
            <div class="blocked_icon">
                <img class="blocked_icon2"src="/images/Vectorblock.png"/>
            </div>
            <div class="reports_icon">
                <img class = "reports_icon2" src="/images/Vectorreport.png" />
            </div>
            <div class="search_box"></div>


            <form action="/adminSearchProfile" method = "POST">

                <button class="search_profile_text" >Search Profiles</button>

            </form>


            <span class="search_profile_text2">Search Profiles all over the application</span>
            <div class="approve_profile_box"></div>
            <!-- <div class="delete_profile_box"></div> -->
            <div class="search_profile_icon">
                <img class="dashboard_v99_1439" src = "/images/Vectorsp.png"/>
            </div>
          <form  action="/adminDeleteProfile" method = "POST">
            <button class="Registeration_text">Delete Profile </button>
          </form>
          
          <!-- <form action="/adminDeleteProfile" method = "POST">
            <button class="del_profile_button" >Delete Profile</button>
          </form> -->
            <div class="register_icon">
<!--                 <div class="dashboard_v99_1442"></div> -->
            </div>
            <div class="del_profile_icon">
                <img class="dashboard_v99_1446" src = "/images/Vectordp.png"/>
                    <!-- <div class="dashboard_v99_1446"></div>
                </div> -->
            <span class="registeration_text2" >Delete any user's profile</span>
            <!-- <span class="delete_profile_text2">Delete any user's profile</span> -->
            <!-- <span class="view_profile">View Profile</span> -->
        </div>
        <script>
            let name = 'Admin'
            name = "Welcome " + name + " !";
            let tt = document.getElementById("n");
            tt.innerText = name;
            /*
            let find_button = document.getElementsByClassName("dashboard_v99_1435")
            find_button.addEventListener("click", myFunction);
            function myFunction(){
                console.log("here")
                const xhttp = new HttpRequest();
                xhttp.open("GET", "http://localhost:3000/");
                xhttp.send();
                const books = JSON.parse(xhttp.responseText);
            }
*/

            

            
            



        </script>
    </body>
    </html>
    <br/>
    <br/> 

