<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="v66_529_createAssessments">
            <span class="v79_1045_createAssessments">Create Assessment</span>
            <div class="v79_1046_createAssessments">
                <span class="v79_1048_createAssessments_a" >Subject:</span>
                <div class="v79_1048_createAssessments"></div>
                <span class="v79_1054_createAssessments">Syllabus:</span>
                <div class="v79_1050_createAssessments"></div>
                
                <span class="v79_1058_createAssessments">Max Score:</span>
                <span class="v79_1067_createAssessments">10 Points</span>


                <span class="v79_1055_createAssessments">Publish Date:</span>
                <div class="v79_1048_createAssessments_b"></div>

                <span class="v79_1056_createAssessments">Publish Time:</span>
                <span class="v79_1068_createAssessments">00:00:20</span>


                
                


                
            </div>


            <div class="v79_1097_createAssessments"></div>
            <div class="v79_1114_createAssessments"></div>
            
            
            
            <div class="v88_1210_createAssessments"></div>
            <div class="v88_1220_createAssessments"></div>
            <div class="v79_1103_createAssessments"></div>
            
            <div class="v79_1051_createAssessments"></div>
           
            
            <span class="v79_1098_createAssessments">Question 1:</span>
            
            <span class="v88_1207_createAssessments">Points:</span>
            <span class="v88_1217_createAssessments">Time:</span>
            <span class="v79_1102_createAssessments">Answer Mode:</span>
            
            <span class="v79_1057_createAssessments">Max Time:</span>
            <span class="v79_1058_createAssessments">Max Score:</span>
            
            <div class="v88_1218_createAssessments">
                <div class="v88_1219_createAssessments"></div>
            </div>
            
            
            
            
            
            <div class="v79_1087_createAssessments">
                <div class="v79_1088_createAssessments"></div>
                <div class="v79_1089_createAssessments">
                    
                    <div class="v79_1091_createAssessments">
                        <div class="v79_1092_createAssessments"></div>
                    </div>
                </div>
            </div>
            <div class="v88_1211_createAssessments">
                <div class="v88_1212_createAssessments"></div>
                <div class="v88_1213_createAssessments">
                    <div class="v88_1214_createAssessments"></div>
                    <div class="v88_1215_createAssessments">
                        <div class="v88_1216_createAssessments"></div>
                    </div>
                </div>
            </div>
            <div class="v88_1221_createAssessments">
                <div class="v88_1222_createAssessments"></div>
                <div class="v88_1223_createAssessments">
                    <div class="v88_1224_createAssessments"></div>
                    <div class="v88_1225_createAssessments">
                        <div class="v88_1226_createAssessments"></div>
                    </div>
                </div>
            </div>
            <div class="v79_1104_createAssessments">
                <div class="v79_1105_createAssessments"></div>
                <div class="v79_1106_createAssessments">
                    <div class="v79_1107_createAssessments"></div>
                    <div class="v79_1108_createAssessments">
                        <div class="v79_1109_createAssessments"></div>
                    </div>
                </div>
            </div>
            <div class="v79_1100_createAssessments"></div>
            <span class="v79_1101_createAssessments">Write Question....</span>
            <span class="v79_1113_createAssessments">Option 1</span>
            <span class="v79_1115_createAssessments">Add Option</span>
            <span class="v79_1110_createAssessments">MCQ</span>
            <div class="v79_1116_createAssessments"></div>
            <span class="v79_1117_createAssessments">Publish</span>
            <div class="v79_1118_createAssessments"></div>
            <span class="v79_1119_createAssessments">Add Question</span>
            <div class="v88_1208_createAssessments">
                <div class="v88_1209_createAssessments"></div>
            </div>
            <div class="v119_2041_createAssessments"></div>
            <span class="v119_2042_createAssessments">choka.com</span>
            <div class="v119_2043_createAssessments"></div>
            <div class="v119_2044_createAssessments"></div>
            <span class="v119_2045_createAssessments">Back</span>
            <div class="name_createAssessments"></div>
        </div>
    </body>
    </html> 