<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="dashboard_v5_11">
            <div class="dashboard_v20_155">
                <img class="v13_23" src = "/images/Vectorbackarrow.png"   />
            <img class = "v119_1814" src="/images/e-learning-isometric-composition_1284-21095 4logo.png"  />
            <img class = "choka_register" src="/images/Group 9.png" />
            <img class = "ProfileImage" src="/images/imgbin_user-interface-design-computer-icons-default-png.png" alt="o" />
            
            <!-- <span class= "view">View Profile</span> -->
            <span class="v13_3">Back to Home</span>

            </div>
            
            
            <div class="dashboard_v119_1817"></div>
            <div class="dashboard_v103_1450"></div>
            <!-- <div class="dashboard_v20_158"></div> -->
            
            <span class="dashboard_v22_160" id = "n"></span>
            <div class="dashboard_v98_1399"></div>
            <div class="dashboard_v124_172">
                <img class = "dashboard_v124_173" src="/images/Vectordshr.png" />
            </div>
            <div class="dashboard_v99_1426">
                <img class = "dashboard_v99_1427" src="/images/Vectorlog2.png" />
                <img class = "dashboard_v99_1428" src="/images/Vectorlog1.png" />
            </div>
            <div class="dashboard_v99_1420">
                <div class="dashboard_v99_1421">
                    <img class = "dashboard_v99_1422" src="/images/Vectorsett.png" />
                    <img class = "dashboard_v99_1423" src="/images/Vectorcircle.png" />
                    <img class = "dashboard_v99_1424" src="/images/Vectorcircle.png" />
                    <img class = "dashboard_v99_1425" src="/images/Vectorcircle.png" />
                </div>
            </div>
            <div class="dashboard_v99_1416">
                <div class="dashboard_v99_1417">
                    <img class = "dashboard_v99_1418" src="/images/Vectorreq.png" />
                    <img class = "dashboard_v99_1419" src="/images/Vectorplus.png" />
                </div>
            </div>
            <img class = "dashboard_v99_1409" src="/images/Vectormystudents.png" />
            <span class="dashboard_v98_1400"><b>Dashboard</b></span>
            <span class="dashboard_v99_1401"><b>My Tutors</b></span>
            <form action = "/displayChats" method = "POST"><button formaction="/displayChats" method = "POST" type = "submit" class = "dashboard_v99_1402"><b>Messages</b></button></form>
            <span class="dashboard_v99_1403"><b>Notifications</b></span>
            <span class="dashboard_v99_1404"><b>Requests</b></span>
            <span class="dashboard_v99_1405"><b>Settings</b></span>
            <span class="dashboard_v99_1406"><b>Log out</b></span>
            <div class="dashboard_v99_1407">
                <img class = "dashboard_v99_1408" src="/images/Vectordashboard.png" />
            </div>
            <div class="dashboard_v99_1410">
                <img class = "dashboard_v99_1411" src="/images/Vectormesg.png" />
            </div>
            <div class="dashboard_v99_1414">
                <img class = "dashboard_v99_1415" src="/images/Vectornotif.png" />
            </div>
            <div class="dashboard_v99_1431"></div>
            <form  method="POST">
            <button class="dashboard_v99_1435"  formaction="/findTutors" method = "POST"   ><b>Find a Tutor</b></button>
            </form>
            <span class="dashboard_v101_1447">Find tutor over the application</span>
            


            

            <div class="dashboard_v99_1434"></div>
            <form method="POST">
            <button class="dashboard_v99_1443" formaction="/publishProfile" method = "POST"  ><b>Populate Profile</b></button>
            </form>
            <span class="dashboard_v101_1449">Let tutor find you by adding your requirements</span>

            <div class="dashboard_v99_1433"></div>

            <div class="dashboard_v99_1438">
                <img class="v99_1439" src = "/images/Vectorfindtutor.png">
            </div>
            <form method = "POST">
            <button class="dashboard_v99_1440" formaction="/studentsAssessments" method = "POST">Assessments</button>
            </form>
            <div class="dashboard_v99_1441">
                <img class="v99_1442" src = "/images/Vectorassessment.png">
            </div>
            <div class="dashboard_v99_1444">
                <!-- <div class="dashboard_v99_1445"> -->
                    <img class="v99_1446" src = "/images/Vectorpopulte.png">
                <!-- </div> -->
            </div>
            <span class="dashboard_v101_1448" >Take and view your assessments</span>
            
            <span class="dashboard_v103_1543"><form method = "POST" ><button type = "submit" method = "POST" formaction= "/viewprofile"class="dashboard_new" >View Profile</button></span>
        </div>
        <script>
           


            let name ='<%-Name%>'
            name = "Welcome " + name + " !";
            let tt = document.getElementById("n");
            tt.innerText = name;

            
            


        </script>
    </body>
    </html>
    <br/>
    <br/> 