<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="dashboard_v5_11">
            <div class="dashboard_v20_155">

            </div>
            <span class="dashboard_v119_1818">
                choka.com
            </span>
            <div class="dashboard_v119_1817"></div>
            <div class="dashboard_v103_1450"></div>
            <div class="dashboard_v20_158"></div>
            <span class="dashboard_v20_157">Back to Home</span>
            <span class="dashboard_v22_160" id = "n"></span>
            <div class="dashboard_v98_1399"></div>
            <div class="dashboard_v124_172">
                <div class="dashboard_v124_173"></div>
            </div>
            <div class="dashboard_v99_1426">
                <div class="dashboard_v99_1427"></div>
                <div class="dashboard_v99_1428"></div>
            </div>
            <div class="dashboard_v99_1420">
                <div class="dashboard_v99_1421">
                    <div class="dashboard_v99_1422"></div>
                    <div class="dashboard_v99_1423"></div>
                    <div class="dashboard_v99_1424"></div>
                    <div class="dashboard_v99_1425"></div>
                </div>
            </div>
            <div class="dashboard_v99_1416">
                <div class="dashboard_v99_1417">
                    <div class="dashboard_v99_1418"></div>
                    <div class="dashboard_v99_1419"></div>
                </div>
            </div>
            <div class="dashboard_v99_1409"></div>
            <span class="dashboard_v98_1400">Dashboard</span>
            <span class="dashboard_v99_1401">My Tutors</span>
            <span class="dashboard_v99_1402">Messages</span>
            <span class="dashboard_v99_1403">Notifications</span>
            <span class="dashboard_v99_1404">Requests</span>
            <span class="dashboard_v99_1405">Settings</span>
            <span class="dashboard_v99_1406">Log out</span>
            <div class="dashboard_v99_1407">
                <div class="dashboard_v99_1408"></div>
            </div>
            <div class="dashboard_v99_1410">
                <div class="dashboard_v99_1411"></div>
            </div>
            <div class="dashboard_v99_1414">
                <div class="dashboard_v99_1415"></div>
            </div>
            <div class="dashboard_v99_1431"></div>
            <span class="dashboard_v99_1435">Find a Tutor</span>
            <span class="dashboard_v101_1447">Find tutor over the application</span>
            <div class="dashboard_v99_1433"></div>
            <div class="dashboard_v99_1434"></div>
            <div class="dashboard_v99_1438">
                <div class="dashboard_v99_1439"></div>
            </div>
            <span class="dashboard_v99_1440">Assessments</span>
            <span class="dashboard_v99_1443">Populate Profile</span>
            <div class="dashboard_v99_1441">
                <div class="dashboard_v99_1442"></div>
            </div>
            <div class="dashboard_v99_1444">
                <div class="dashboard_v99_1445">
                    <div class="dashboard_v99_1446"></div>
                </div>
            </div>
            <span class="dashboard_v101_1448" >Take and view your assessments</span>
            <span class="dashboard_v101_1449">Let tutor find you by adding your requirements</span>
            <span class="dashboard_v103_1543">View Profile</span>
        </div>
        <script>
            let name = '<%-name%>'
            name = "Welcome " + name + " !";
            let tt = document.getElementById("n");
            tt.innerText = name;

            
        </script>
    </body>
    </html>
    <br/>
    <br/> 