<%-include("partials/header");-%>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="findTutors_v36_16">
            <div class="findTutors_v36_17"></div>
            <span class="findTutors_v119_1820">choka.com</span>
            <div class="findTutors_v119_1819"></div>
            <div class="findTutors_v36_18"></div>
            <span class="findTutors_v36_19">Back </span>
            <div class="findTutors_name"></div>
            <span class="findTutors_v36_26">Find a Tutor</span>
            <input class="findTutors_v36_27" placeholder="Search">
            <div class="findTutors_v36_29">
                
            </div>
            <div class="findTutors_v36_31">
                <div class="findTutors_v36_32"></div>
            </div>
            <div class="findTutors_name"></div>
            <span class="findTutors_v36_34">Recommended for you</span>
            <div class="findTutors_v44_246"></div>
            <div class="findTutors_"></div>
            <span class="findTutors_v44_252">Mr. Bean</span>
            <span class="findTutors_v44_253">Mathematics & Science</span>
            <div class="findTutors_name"></div>
            <div class="findTutors_v44_260">
                <div class="findTutors_v44_261"></div>
            </div>
            <div class="findTutors_v46_262"></div>
            <span class="findTutors_v46_264">Dr. Suleman</span>
            <span class="findTutors_v46_265">Computer Science</span>
            <div class="findTutors_name"></div>
            <div class="findTutors_v46_267">
                <div class="findTutors_v46_268"></div>
            </div>
            <div class="findTutors_v46_269"></div>
        </div>
        <script>
            
            
        </script>
    </body>
    </html> 
    <br/>
    <br/> 
   
  
 
