
<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>

        <div>
        <span class="v13_3">Back to Home</span>
        <form method="POST" >
        <div class="login_1">
            
            <div class="login_2"></div>
            <!-- <div class="login_3"></div> -->
            
            <img class="v13_23" src = "/images/Vectorbackarrow.png"  onclick="location.replace('home')" />
            <img class = "v119_1814" src="/images/e-learning-isometric-composition_1284-21095 4logo.png"  />
            <img class = "choka_register" src="/images/Group 9.png" />
            <!-- <span class = "choka_register"></span>  -->
            <span class="v13_3">Back to Home</span>

            <span class="login_7"><b>Reset Password</b></span>
            <span class="login_8">Email*</span>
            <div class="login_name"></div>
            <input class="login_9"  name="Email"  placeholder="Enter email">
            <span class="login_10">New Password*</span>
            <div class="login_name"></div>
            <input type = "password" class="login_11" name="Password"  placeholder="Enter password" />
            <span class="confirm_pass">Confirm Password*</span>
            <div class="login_name"></div>
            <input type = "password" class="pass_holder" name="Confirm_Password"  placeholder="Enter password" />
            <div class="reset"></div>
            <button class="pass_text" formaction="/reset"  method = "POST" >Reset</button>
            <div class="login_14" >
                <div class="login_15"></div>
                <img class="login_16" src = "/images/Vectorlock.png">
            </div>
            <div class="login_14_2" >
                <div class="login_15"></div>
                <img class="login_16" src = "/images/Vectorlock.png">
            </div>

            <div class="login_17">
                <div class="login_18"></div>
                <img class="login_19" src = "/images/Vectormessege.png">
            </div>

            <!-- <div>
                
                <button class="login_20_1" formaction="/home" name="home" value="register"><i>Forgot your password? <b><u>Reset Now</u></b></i></p>
                
            </div> -->

            <div>
                <button class="down_text" formaction="/login" name="home" type="submit" value="register"><i>Back to <b><u>Login</b></u></i></p>
               
            </div>

            <!-- <button class="login_20">Forgot your password? Reset Now</button>
            <button class="login_21">First Time? Register</button> -->
            <img class="login_22" src = "/images/login.png"/>
        </div>
        </form>
        </div>
        
    </body>
</html>