<%-include("partials/header");-%>
<body class="homepage">
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/setting')">person</span> -->
    <!-- <img  class=questionmarks src="/images/studentteacher.png" alt="questionmarks"> -->

    <form action="/home" >
        <div class="row d-flex flex-row-reverse">
            <!-- <div class="name col-lg-6 col-md-6 col-xs-6 col-sm-6 center-block"> -->
                <button class="buttonIn" name="home" value="home" onclick="location.replace('')"> Home </button>
                <button class="buttonIn" name="contact" value="contact" onclick="location.replace('')"> Contact </button>
                <button class="buttonIn" name="aboutus" value="aboutus" onclick="location.replace('')"> About Us </button>
        </div>

        <div class="row d-flex align-items-start" >
            <h1 class="Head1 "> ch ka </h1>
            <h4 class="Head2"> .com </h4>
        </div>

       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="row d-flex ">
            <h4 class="align-items-start Head3"> Your Future in Safe Hands! </h4>
            <button formaction = "/register" class="bot-button " onclick="location.replace('')"> Sign in </button>
            <button formaction = "/register" class="bot-button " > Register </button>
        </div>
    </form>

    
</body>
</html>