<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="v55_251">
            <div class="search_v119_1837">
                <img class="v13_23" src = "/views/vector_back.png" />
                <img class = "v119_1814" src="/views/header_image.jpg" />
                <img class = "choka_register" src="/views/Group 9.png" />
                <span class="v13_3">Back</span>
            </div>
            <span class="v55_259_todo">My Tutors</span>
        </br></br></br></br></br></br></br></br></br>
        <form id = "custom" method = "POST">
            <div id = "add" class = "add_to_do">
                <!--
                <div  id = "question_container">
                    <div class="v79_1097_bb_reviewAssessments">
                        <img src= "filter_1.png" class = "image_dp_2"/>
                        <h1 id = "chatter" class = "ins_name_three"> Name </h1>
                        <br>
                        <h1 id = "wish" class = "comm2"> 4.0</h1>
                        <br><br><br>
                        <input class = "v79_1097_revAssessments" type="text" placeholder="Enter review here"/>
                        <br>
                        <br>
                        <input type = "number" placeholder="Enter rating here"/>
                        <br><br>
                        <button method = "POST" formaction = "/viewReq" type = "submit" name = "requested" class = "comm3"> View</button>
                        
                    
        
                    </div>
                    </br>
    
                </div>
                -->
            </div>
            </form>

            
            
            
            
            
        </div>
        <script>
            let all_tutor_headers = JSON.parse('<%-tutorHeaders%>');
            let my_info = '<%-header%>';
            console.log("my infor is", my_info)
            my_info = JSON.parse(my_info)
            
            let existing_rev = JSON.parse('<%-existingHeaders%>');
            console.log("all tutor_headers", all_tutor_headers)
            console.log("existing_reviews", existing_rev);

            let container = document.getElementById("add");
            container.innerHTML = ""

            let check = true;
            let len_all = all_tutor_headers.length;
            for(let i = 0; i <len_all; i = i+1){
                //for all of the headers
                check = true;
                let tutor_email = all_tutor_headers[i].jason_obj.EmailAddress;
                let tutor_rating = all_tutor_headers[i].Rating;
                let tutor_reviews_arr = all_tutor_headers[i].Reviews;
                console.log("tutor email is ", tutor_email)
                console.log("tutor rating is", tutor_rating)
                console.log("tutor reviews array is ", tutor_reviews_arr)
                // now check if this email exists in the existing rev
                for(j = 0; j <existing_rev.length; j = j+1){
                    let existing_ka_obj = existing_rev[j];
                    let existing_email = existing_ka_obj.tutorEmail;
                    let existing_review = existing_ka_obj.review;
                    let existing_rating = existing_ka_obj.rating;
                    

                    if(tutor_email == existing_email){
                        //render a diffferent thing here
                        //break from this loop
                        //set a bool to be false
                        //if they have already written a review then 
                        
                        let sen =all_tutor_headers[i].jason_obj.EmailAddress+`:` + my_info.EmailAddress
                        let text = `<div  id = "question_container"><div class="v79_1097_bb_reviewAssessments"><img src= "filter_1.png" class = "image_dp_2"/><h1 id = "chatter" class = "ins_name_three">`+ all_tutor_headers[i].jason_obj.Name +`</h1><br><h1 id = "wish" class = "comm2">`+ all_tutor_headers[i].Rating+`</h1><br><br><br><div class = "v79_1097_revAssessments" type="text" >`+existing_review+`</div><br><br><div>Your rating: `+existing_rating+`</div><br><br><button method = "POST" formaction = "/viewReq" type = "submit" name = "requested" value = `+sen+` class = "comm3"> View</button></div><br></div>`;
                        container.innerHTML = container.innerHTML + text
                        check = false;
                        break;
                        
                    }



                }
                if(check==true){
                    check = true;
                    console.log("hhhhhhhhhhhhhhhh")
                    //here u have the submit button..
                    //create a form 



                    let sen =all_tutor_headers[i].jason_obj.EmailAddress+`:` + my_info.EmailAddress
                    let text = `<div  id = "question_container">
                                    <div class="v79_1097_bb_reviewAssessments">
                                        <img src= "filter_1.png" class = "image_dp_2"/>
                                        <h1 id = "chatter" class = "ins_name_three">`+ all_tutor_headers[i].jason_obj.Name+` </h1>
                                        <br>
                                        <h1 id = "wish" class = "comm2">`+all_tutor_headers[i].Rating+`</h1>
                                        <br><br><br>
                                        <input name = "review" class = "v79_1097_revAssessments_input" type="text" placeholder="Enter review here"/>
                                        <br>
                                        <br>
                                        <input name = "rating" type = "number" placeholder="Enter your rating here"/>
                                        <br><br>
                                        <button method = "POST" formaction = "/viewReq" type = "submit" name = "requested" value =`+sen+` class = "comm3"> View</button>
                                        <button method = "POST" formaction = "/submitReview" type = "submit" name = "requested" class = "comm3" value = `+sen+`> Submit Review</button>

                                        
                                    
                        
                                    </div>
                                    </br>
                    
                                </div>`
                    container.innerHTML = container.innerHTML + text
                    //render a different things here
                }

            }


            



            /*
            
           
            

            

           
            let container = document.getElementById("add");
            container.innerHTML = ""
            for(let j = 0; j<len_array; j = j+1){
                

                let tutor_name = headers_array[j].jason_obj.Name;
                let tutor_email = headers_array[j].jason_obj.EmailAddress;
                let new_obj = {
                    "tutor_email" : tutor_email,
                    "student_email":my_info.EmailAddress
                }
                
                let button_value = JSON.stringify(new_obj)
                let text = `<div  id = "question_container"><div class="v79_1097_bb_createAssessments"><img src= "filter_1.png" class = "image_dp"/><h1 id = "chatter" class = "ins_name_two">`+ tutor_name +`</h1><br><form method = "POST" ><button method = "POST" formaction = "/viewReq" type = "submit" name = "requested" value = `+button_value+`  class = "comm"> View</button></form></div></br></div`
                container.innerHTML = container.innerHTML + text
                

            }
            */


           


        </script>
    </body>
</html> 
        
   
  
  
  