
<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="login_1">
            <div class="login_2"></div>
            <div class="login_3"></div>
            <div class="login_4"></div>
            <span class="login_5">Back to Home</span>
            <span class="login_6">choka.com</span>
            <span class="login_7">Sign in</span>
            <span class="login_8">Email*</span>
            <div class="login_name"></div>
            <span class="login_9">Email Address</span>
            <span class="login_10">Password*</span>
            <div class="login_name"></div>
            <span class="login_11">Password</span>
            <div class="login_12"></div>
            <span class="login_13">Sign in</span>
            <div class="login_14">
                <div class="login_15"></div>
                <div class="login_16"></div>
            </div>
            <div class="login_17">
                <div class="login_18"></div>
                <div class="login_19"></div>
            </div>
            <span class="login_20">Forgot your password? Reset Now</span>
            <span class="login_21">First Time? Register</span>
            <div class="login_22"></div>
        </div>
    </body>
</html>