<%-include("partials/header");-%>
<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
       
    </head>
    <body>
        <div class="dashboard_v5_11">
            <div class="dashboard_v20_155">
                <img class="v13_23" src = "/views/vector_back.png"   />
            <img class = "v119_1814" src="/views/header_image.jpg"  />
            <img class = "choka_register" src="/views/Group 9.png" />
            <span class="v13_3">Back to Home</span>

            </div>
            
            
            <div class="dashboard_v119_1817"></div>
            <div class="dashboard_v103_1450"></div>
            <div class="dashboard_v20_158"></div>
            
            <span class="dashboard_v22_160" id = "n"></span>
            <div class="dashboard_v98_1399"></div>
            <div class="dashboard_v124_172">
                <div class="dashboard_v124_173"></div>
            </div>
            <div class="dashboard_v99_1426">
                <div class="dashboard_v99_1427"></div>
                <div class="dashboard_v99_1428"></div>
            </div>
            <div class="dashboard_v99_1420">
                <div class="dashboard_v99_1421">
                    <div class="dashboard_v99_1422"></div>
                    <div class="dashboard_v99_1423"></div>
                    <div class="dashboard_v99_1424"></div>
                    <div class="dashboard_v99_1425"></div>
                </div>
            </div>
            <div class="dashboard_v99_1416">
                <div class="dashboard_v99_1417">
                    <div class="dashboard_v99_1418"></div>
                    <div class="dashboard_v99_1419"></div>
                </div>
            </div>
            <div class="dashboard_v99_1409"></div>
            <span class="dashboard_v98_1400">Dashboard</span>
            <span class="dashboard_v99_1401">My Tutors</span>
            <span class="dashboard_v99_1402">Messages</span>
            <span class="dashboard_v99_1403">Notifications</span>
            <span class="dashboard_v99_1404">Requests</span>
            <span class="dashboard_v99_1405">Settings</span>
            <span class="dashboard_v99_1406">Log out</span>
            <div class="dashboard_v99_1407">
                <div class="dashboard_v99_1408"></div>
            </div>
            <div class="dashboard_v99_1410">
                <div class="dashboard_v99_1411"></div>
            </div>
            <div class="dashboard_v99_1414">
                <div class="dashboard_v99_1415"></div>
            </div>
            <div class="dashboard_v99_1431"></div>
            <form  method="POST">
            <button class="dashboard_v99_1435"  formaction="/findStudents" method = "POST"   >Find a Student</button>
            </form>
            <span class="dashboard_v101_1447">Find student over the application</span>
            


            

            <div class="dashboard_v99_1434"></div>
            <form method="POST">
            <button class="dashboard_v99_1443" formaction="/publishTutorProfile" method = "POST"  >Publish Profile</button>
            </form>
            <span class="dashboard_v101_1449">Let students find you by adding your requirements</span>

            <div class="dashboard_v99_1433"></div>

            <div class="dashboard_v99_1438">
                <div class="dashboard_v99_1439"></div>
            </div>
            <span class="dashboard_v99_1440">Assessments</span>
            
            <div class="dashboard_v99_1441">
                <div class="dashboard_v99_1442"></div>
            </div>
            <div class="dashboard_v99_1444">
                <div class="dashboard_v99_1445">
                    <div class="dashboard_v99_1446"></div>
                </div>
            </div>
            <span class="dashboard_v101_1448" >Create, grade and return assessments</span>
            
            <span class="dashboard_v103_1543"><form method = "POST" ><button type = "submit" method = "POST" formaction= "/viewprofile"class="dashboard_new" >View Profile</button></span>
        </div>
        <script>
            let name = '<%-Name%>'
            name = "Welcome " + name + " !";
            let tt = document.getElementById("n");
            tt.innerText = name;

            
            


        </script>
    </body>
    </html>
    <br/>
    <br/> 