<%-include("partials/header");-%>
<% include partials/functions %>
<body>
<div>
    <form action="/form" method="">
    <div class="v13_2"></div>
        <div class="v13_23"></div>
        <span class="v13_3">Back to Home</span>
        <span class="v13_5">Register</span>
        <span class="v13_21">Already have an account? Sign in</span>
        <span class="v13_42">First Name*</span>
        <span class="v13_21">Already have an account? Sign in</span>
        <span class="v13_42">First Name*</span>
        <div class="name"></div>
        <input class="v13_44" name="FirstName"  placeholder="Enter first name"/> 
        <span class="v13_45">Email*</span>
        <div class="name"></div>
        <input  class="v13_47" name="Email"  placeholder="Enter email "/>
        
        <div class="v13_51">
            <div class="v13_52"></div>
            <div class="v13_53"></div>
        </div>

        <span class="v13_55">Last Name*</span>
        <div class="name"></div>            
        <input class="v13_57" name="LastName"  placeholder="Enter last name" />
        <span class="v13_58">Phone Number*</span>

        <div class="name"></div>
        <input class="v13_60" name="PhoneNumber"  placeholder="Enter phone number" />
        <span class="v18_9">Password*</span>
        <div class="name"></div>
        <input class="v18_11" name="Password"  placeholder="Enter password here" />
        <div class="v18_12">
            <div class="v18_13"></div>
            <div class="v18_14"></div>
        </div>

        <span class="v18_24">Confirm Password*</span>
        <div class="name"></div>
        <input class="v18_26" name = "ConfirmPassword" placeholder= "Re-enter password here"/>
        <div class="v18_27">
            <div class="v18_28"></div>
            <div class="v18_29"></div>
        </div>
        <span class="v13_75">Register as a:</span>
        <div class="name"></div>
        <span class="v13_90">Student</span>
        <div class="name"></div>
        <span class="v13_92">Tutor</span>
        <div class="name"></div>
        <div class="v18_5">
            <div class="v18_6"></div>
        </div>
        <div class="v18_7">
            <div class="v18_8"></div>
        </div>
        <div class="name"></div>
        <div class="v18_17">
            <div class="v18_18"></div>
            <div class="v18_19"></div>
            <div class="v18_20"></div>
            <div class="v18_21"></div>
        </div>
        <div class="v18_22">
            <div class="v18_23"></div>
        </div>
        <div class="v18_30"></div>
        <button class="v18_31"   onclick = <% getPriceChgArrow() %>>">Register</button>
        <div class="v58_217"></div>
        <span class="v58_218">Add Image</span>
        <div class="v58_219">
            <div class="v58_220"></div>
            <div class="v58_221"></div>
        </div>
        <div class="v59_315">
            <div class="v59_316"></div>
        </div>
        <div class="v119_1813"></div>
        <span class="v119_1814">choka.com</span>
        
    
    </form>
        
    </div>
    </body>
    