<%-include("partials/header");-%>

<body>
<div>
    <span class="v13_75">Register as a:</span>
    <div class="name"></div>
    <form name = "myForm">
    <input type="radio" name = "type_account" value = "student"  class="v13_90" onclick="checker_two()"  />
    <label class="v13_90_second"> Student</label>
    <input type="radio" name = "type_account" value = "tutor"  class="v13_92" onclick="checker_one()"/>
    <label class="v13_92_second"> Tutor</label>
    </form>
    
    

    
    <div class="v13_2"></div>
        
    <img class="v13_23" src = "/views/vector_back.png" />
    <img class = "v119_1814" src="/views/header_image.jpg" />
    <img class = "choka_register" src="/views/Group 9.png" />
    <span class="v13_3">Back to Home</span>
        
    <span class="v13_5">Register</span>
        
        <div id = "testing">
        ////////////////////////
        <form action="/register">
        <button class="v13_21" formaction="/login">Already have an account? Sign in</button>
        <span class="v13_42">First Name*</span>
        
        

        <span class="v13_42">First Name*</span>
        <div class="name"></div>

        <input class="v13_44" name="FirstName"  placeholder="Enter first name"/> 
        <span class="v13_45">Email*</span>
        <div class="name"></div>
        <input  class="v13_47" name="Email"  placeholder="Enter email "/>
        
        <div class="v13_51">
            <div class="v13_52"></div>
            <div class="v13_53"></div>
        </div>

        <span class="v13_55">Last Name*</span>
        <div class="name"></div>            
        <input class="v13_57" name="LastName"  placeholder="Enter last name" />
        <span class="v13_58">Phone Number*</span>

        <div class="name"></div>
        <input class="v13_60" name="PhoneNumber"  placeholder="Enter phone number" />
        <span class="v18_9">Password*</span>
        <div class="name"></div>
        <input class="v18_11" name="Password"  placeholder="Enter password here" />
        <div class="v18_12">
            <div class="v18_13"></div>
            <div class="v18_14"></div>
        </div>

        <span class="v18_24">Confirm Password*</span>
        <div class="name"></div>
        <input class="v18_26" name = "ConfirmPassword" placeholder= "Re-enter password here"/>
        <div class="v18_27">
            <div class="v18_28"></div>
            <div class="v18_29"></div>
        </div>
        
        <div class="name"></div>
        <div class="v18_5">
            <div class="v18_6"></div>
        </div>

        <div class="v18_7">
            <div class="v18_8"></div>
        </div>
        <div class="name"></div>
        <div class="v18_17">
            <div class="v18_18"></div>
            <div class="v18_19"></div>
            <div class="v18_20"></div>
            <div class="v18_21"></div>
        </div>
        <div class="v18_22">
            <div class="v18_23"></div>
        </div>
        <div class="v18_30"></div>
        
        
        <button class="v18_31" formaction="/registrationRequest"  method = "POST">Register</button>
        <span class="v58_218">Add Image</span>
        <div class="v58_219">
            <div class="v58_220"></div>
            <div class="v58_221"></div>
        </div>
        <div class="v59_315">
            <div class="v59_316"></div>
        </div>
        <div class="v119_1813"></div>
    
        
        </div>
        
        
        </form>
        </div>
<!--/////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <div id = "cond">


            
            <div class="v119_1950">
                
                <span class="v59_252">First Name*</span>
                <div class="name"></div>
                <span class="v59_254">First Name</span>
                <span class="v59_255">Email*</span>
                <div class="name"></div>
                <span class="v59_257">Email Address</span>
                <div class="v59_258">
                    <div class="v59_259"></div>
                    <div class="v59_260"></div>
                </div>
                <span class="v59_261">Last Name*</span>
                <div class="name"></div>
                <span class="v59_263">Last Name</span>
                <span class="v59_264">Phone Number*</span>
                <div class="name"></div>
                <span class="v59_270">Qualification*</span>
                <div class="name"></div>
                <span class="v59_272">Your Highest Qualification</span>
                <span class="v59_276">Date of Birth*</span>
                <div class="name"></div>
                <span class="v59_278">Day</span>
                <span class="v59_347">Month</span>
                <span class="v59_350">Year</span>
                <span class="v59_319">Previous Experience*</span>
                <span class="v59_355">Transcript*</span>
                <span class="v59_361">Image</span>
                <div class="name"></div>
                <span class="v59_321">Write about your previous experiences of teaching...</span>
                <span class="v59_333">Password*</span>
                <div class="name"></div>
                <span class="v59_335">Password</span>
                <div class="v59_336">
                    <div class="v59_337"></div>
                    <div class="v59_338"></div>
                </div>
                <span class="v59_339">Confirm Password*</span>
                <div class="name"></div><span class="v59_341">Password</span>
                <div class="v59_342"><div class="v59_343"></div>
                <div class="v59_344"></div>
            </div>
            <span class="v59_282">Regsiter as a:</span>
            <div class="name"></div><span class="v59_284">Student</span>
            <span class="v59_286">Tutor</span>
            <div class="v59_288">
                <div class="v59_289"></div>
            </div>
            <div class="v59_290">
                <div class="v59_291"></div>
            </div>
            <div class="name"></div>
            <div class="v59_293">
                <div class="v59_294"></div>
                <div class="v59_295"></div>
                <div class="v59_296"></div>
                <div class="v59_297"></div>
            </div>
            <div class="v59_298">
                <div class="v59_299">

                </div>
            </div>
            <div class="v59_331">
                <div class="v59_332"></div>
            </div>
            <div class="v59_345">
                <div class="v59_346"></div>
            </div>
            <div class="v59_348">
                <div class="v59_349"></div>
            </div>
            <div class="v59_351">
                <div class="v59_352"></div>
            </div>
            <div class="v59_300"></div>
            <span class="v59_301">Register</span>
            <div class="v59_302"></div>
            <span class="v59_303">Add Image</span>
            <div class="v59_304">
                <div class="v59_305"></div>
                <div class="v59_306"></div>
            </div><div class="name"></div>
            <div class="v59_317">
                <div class="v59_318"></div>
            </div>
            <div class="v59_353">
                <div class="v59_354"></div>
            </div>
            <div class="v59_356"></div>
            <div class="v59_357">
                <div class="v59_358"></div>
                <div class="v59_359"></div>
            </div>
            <span class="v59_360">Upload Transcript</span>
            <div class="v119_1951"></div>
            <span class="v119_1952">choka.com</span>
            <div class="v119_1953"></div>
            <div class="v119_1954"></div>
            <span class="v119_1955">Back to Home</span>
            <div class="name"></div>
        </div>










</div>
        
    
    
        
    </div>
    <script>
        function checker_one(){
                let ff = document.forms[0]
                
                document.getElementById("testing").style.display = "none";
                

                if(ff[1].checked){
                let xx = document.getElementById("cond")
                xx.style.display = "block";

                }

        }
        function checker_two(){
                let ff = document.forms[0]
                
                document.getElementById("cond").style.display = 'none';
                

                if(ff[0].checked){
               document.getElementById("testing").style.display = "block";
                

                }

        }


        
        


    </script>
    </body>
    