
.v103_1544 {
    width: 100%;
    height: 1158px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v103_1546 {
    width: 100%;
    height: 213px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 80px;
    overflow: hidden;
  }
  .v670_250 {
    width: 144px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 149px;
    left: 1251px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v670_249 {
    width: 100px;
    height: 105px;
    background: url("../images/v670_249.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 36px;
    left: 1275px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v103_1548 {
    width: 53px;
    height: 39px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 40px;
  }
  .v103_1549 {
    width: 364px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 62px;
    left: 119px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v103_1550 {
    width: 338px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 73px;
    left: 526px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: left;
  }
  .v103_1551 {
    width: 510px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 288px;
    left: 436px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v103_1552 {
    width: 360px;
    height: 945px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 213px;
    left: 0px;
    border: 1px solid rgba(3,133,182,1);
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v103_1553 {
    width: 35px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 850px;
    left: 273px;
    overflow: hidden;
  }
  .v103_1554 {
    width: 20px;
    height: 11px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 2px;
  }
  .v103_1555 {
    width: 18px;
    height: 26px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 13px;
  }
  .v103_1556 {
    width: 35px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 750px;
    left: 273px;
    overflow: hidden;
  }
  .v103_1557 {
    width: 26px;
    height: 26px;
    background: url("../images/v103_1557.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 4px;
    overflow: hidden;
  }
  .v103_1558 {
    width: 26px;
    height: 20px;
    background: url("../images/v103_1558.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border: 2px solid rgba(3,133,182,1);
  }
  .v103_1559 {
    width: 5px;
    height: 5px;
    background: url("../images/v103_1559.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    border: 2px solid rgba(3,133,182,1);
  }
  .v103_1560 {
    width: 5px;
    height: 5px;
    background: url("../images/v103_1560.png");
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 17px;
    border: 2px solid rgba(3,133,182,1);
  }
  .v103_1561 {
    width: 5px;
    height: 5px;
    background: url("../images/v103_1561.png");
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 2px;
    border: 2px solid rgba(3,133,182,1);
  }
  .v103_1562 {
    width: 35px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 649px;
    left: 273px;
    overflow: hidden;
  }
  .v103_1563 {
    width: 35px;
    height: 26px;
    background: url("../images/v103_1563.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    overflow: hidden;
  }
  .v103_1564 {
    width: 26px;
    height: 26px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v103_1565 {
    width: 10px;
    height: 10px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 24px;
  }
  .v103_1566 {
    width: 35px;
    height: 35px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 344px;
    left: 273px;
  }
  .v103_1567 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 251px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1568 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 342px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1569 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 443px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1570 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 544px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1571 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 645px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1572 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 746px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1573 {
    width: 318px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 847px;
    left: 52px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v103_1574 {
    width: 35px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 273px;
    overflow: hidden;
  }
  .v103_1575 {
    width: 32px;
    height: 29px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 1px;
  }
  .v103_1576 {
    width: 35px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 447px;
    left: 273px;
    overflow: hidden;
  }
  .v103_1577 {
    width: 29px;
    height: 26px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 2px;
  }
  .v103_1578 {
    width: 35px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 548px;
    left: 273px;
    overflow: hidden;
  }
  .v103_1579 {
    width: 29px;
    height: 29px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .v103_1611 {
    width: 408px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 446px;
    left: 436px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v103_1612 {
    width: 408px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 741px;
    left: 436px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v103_1676 {
    width: 408px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 371px;
    left: 436px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v124_170 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 350px;
    left: 20px;
    overflow: hidden;
  }
  .v124_171 {
    width: 21px;
    height: 18px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 1px;
  }