<%-include("partials/header");-%>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="v55_251">
            <div class="search_v119_1837">
                <img class="v13_23" src = "/views/vector_back.png" />
                <img class = "v119_1814" src="/views/header_image.jpg" />
                <img class = "choka_register" src="/views/Group 9.png" />
                <span class="v13_3">Back</span>
            </div>
            <span class="v55_259_todo">Assessment</span>
        </br></br></br></br></br></br></br></br></br></br></br></br></br>
        <div class = "start_header">
        </br>
            <h2 class = "start_subject">Subject:ehy</h2>
            <h2 class = "start_creator">Created by: Rose Dunhill</h2>
            <h2 class = "start_score">Total Points: 50</h2>
            
                <div class = "timer">
                    <p class = "start_time">Starting time: 50</p>
                    <p class = "time_remaining">Time remaining: 50</p>
                    <p class = "time_allotted">Time allotted: 50 minutes</p>




                
                </div>
            </br></br></br></br></br></br>




        </div>



    <div id = "add" class = "q">
        <div  id = "question_container">
            <div class="displayer">
                
                </br>
                <p class="item_1">Points:</p>
                <input disabled value = "50" name = "question_points" class = "item_2" />
                <p class="item_3">Minutes required:</p>
                <input disabled name = "question_minutes" class = "item_4" />
                </br>
                <span class="v79_1115_createAssessments">Question Text</span>
                </br>
                </br>
                <input disabled value = "Write the name of the tallest building of the world and the city where it is located" name = "question_text" class = "sawaal" />
            
                <input placeholder="Type your answer here" name = "question_text" class = "jawaab" />


                </br>
                </br>
                
                </br>
                </br>
                

            </div>
            </br>

        </div>
    </div>


    <div id = "add" class = "q">
        <div  id = "question_container">
            <div class="displayer">
                
                </br>
                <p class="item_1">Points:</p>
                <input disabled value = "50" name = "question_points" class = "item_2" />
                <p class="item_3">Minutes required:</p>
                <input disabled name = "question_minutes" class = "item_4" />
                </br>
                <span class="v79_1115_createAssessments">Question Text</span>
                </br>
                </br>
                <input disabled value = "Write the name of the tallest building of the world and the city where it is located" name = "question_text" class = "sawaal" />
            
                <input placeholder="Type your answer here" name = "question_text" class = "jawaab" />


                </br>
                </br>
                
                </br>
                </br>
                

            </div>
            </br>

        </div>
    </div>

            
            
            
        </br></br></br></br></br></br> </br></br></br></br></br></br>  
        <button class = "ss"> Submit </button> 
        </br> 
    </div>
    
       
</body>
</html> 
        
   
  
  
  