<div>
    <link href="./adminsheet.css" rel="stylesheet" />
    <div>
      <div class="desktop43142231-desktop43142231">
        <img
          src="/playground_assets/rectangle9142274-jdcq-400w.png"
          alt="Rectangle9142274"
          class="desktop43142231-image"
        />
        <img
          src="/playground_assets/biarrowreturnright142275-xfoj.svg"
          alt="biarrowreturnright142275"
          class="desktop43142231-image01"
        />
        <img
          src="/playground_assets/bxlogout142277-tk7.svg"
          alt="bxlogout142277"
          class="desktop43142231-image02"
        />
        <div class="desktop43142231-akariconssettingshorizontal142280">
          <img
            src="/playground_assets/group142281-ja7x.svg"
            alt="Group142281"
            class="desktop43142231-image03"
          />
        </div>
        <span class="desktop43142231-text">
          <span class="desktop43142231-text01">Dashboard</span>
        </span>
        <span class="desktop43142231-text02">
          <span class="desktop43142231-text03">Deleted Accounts</span>
        </span>
        <span class="desktop43142231-text04">
          <span class="desktop43142231-text05">Blocked Accounts</span>
        </span>
        <span class="desktop43142231-text06">
          <span class="desktop43142231-text07">Notifications</span>
        </span>
        <span class="desktop43142231-text08">
          <span class="desktop43142231-text09">Reports</span>
        </span>
        <span class="desktop43142231-text10">
          <span class="desktop43142231-text11">Settings</span>
        </span>
        <span class="desktop43142231-text12">
          <span class="desktop43142231-text13">Log out</span>
        </span>
        <img
          src="/playground_assets/mdimonitordashboard142299-p7k8.svg"
          alt="mdimonitordashboard142299"
          class="desktop43142231-image04"
        />
        <img
          src="/playground_assets/icbaselinecirclenotifications142303-7zvl.svg"
          alt="icbaselinecirclenotifications142303"
          class="desktop43142231-image05"
        />
        <img
          src="/playground_assets/octiconblocked16142307-38zo.svg"
          alt="octiconblocked16142307"
          class="desktop43142231-image06"
        />
        <span class="desktop43142231-text14">
          <span class="desktop43142231-text15">Welcome Admin!</span>
        </span>
        <img
          src="/playground_assets/rectangle53142310-ayg4-800w.png"
          alt="Rectangle53142310"
          class="desktop43142231-image07"
        />
        <span class="desktop43142231-text16">
          <span class="desktop43142231-text17">Search Profiles</span>
        </span>
        <span class="desktop43142231-text18">
          <span class="desktop43142231-text19">
            Search Profiles all over the application
          </span>
        </span>
        <img
          src="/playground_assets/rectangle55142313-cgh-800w.png"
          alt="Rectangle55142313"
          class="desktop43142231-image08"
        />
        <img
          src="/playground_assets/rectangle56142314-tz1r-800w.png"
          alt="Rectangle56142314"
          class="desktop43142231-image09"
        />
        <span class="desktop43142231-text20">
          <span class="desktop43142231-text21">Registeration Requests</span>
        </span>
        <span class="desktop43142231-text22">
          <span class="desktop43142231-text23">Delete Profile</span>
        </span>
        <span class="desktop43142231-text24">
          <span class="desktop43142231-text25">
            Approve or delete tutors regsiteration requests
          </span>
        </span>
        <span class="desktop43142231-text26">
          <span class="desktop43142231-text27">Delete any user’s profile</span>
        </span>
        <img
          src="/playground_assets/rectangle5142326-es72-300h.png"
          alt="Rectangle5142326"
          class="desktop43142231-image10"
        />
        <span class="desktop43142231-text28">
          <span class="desktop43142231-text29">choka.com</span>
        </span>
        <img
          src="/playground_assets/elearningisometriccomposition1284210954142328-rz8d-200h.png"
          alt="elearningisometriccomposition1284210954142328"
          class="desktop43142231-image11"
        />
        <img
          alt="Vector142329"
          src="/playground_assets/vector142329-y75u.svg"
          class="desktop43142231-svg"
        />
        <span class="desktop43142231-text30">
          <span class="desktop43142231-text31">Back</span>
        </span>
        <img
          src="/playground_assets/bean1142331-fekb-200w.png"
          alt="bean1142331"
          class="desktop43142231-image12"
        />
        <span class="desktop43142231-text32">
          <span class="desktop43142231-text33">View Profile</span>
        </span>
        <img
          src="/playground_assets/evapersondeleteoutline143339-78h.svg"
          alt="evapersondeleteoutline143339"
          class="desktop43142231-image13"
        />
        <img
          src="/playground_assets/evapersondeleteoutline144360-0tjr.svg"
          alt="evapersondeleteoutline144360"
          class="desktop43142231-image14"
        />
        <img
          src="/playground_assets/riprofileline143356-kdj.svg"
          alt="riprofileline143356"
          class="desktop43142231-image15"
        />
        <img
          src="/playground_assets/fluentpeoplesearch24filled143358-rprjp.svg"
          alt="fluentpeoplesearch24filled143358"
          class="desktop43142231-image16"
        />
        <img
          src="/playground_assets/octiconreport16146520-0b63.svg"
          alt="octiconreport16146520"
          class="desktop43142231-image17"
        />
      </div>
    </div>
  </div>
  