.desktop43142231-desktop43142231 {
    width: 1440px;
    height: 1266px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop43142231-image {
    top: 213px;
    left: 0px;
    width: 360px;
    height: 1053px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    object-fit: cover;
    border-color: rgba(0, 88, 134, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 0 25px;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop43142231-image01 {
    top: 259px;
    left: 20px;
    width: 24px;
    height: 24px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image02 {
    top: 863px;
    left: 273px;
    width: 35px;
    height: 35px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-akariconssettingshorizontal142280 {
    top: 775px;
    left: 273px;
    width: 35px;
    height: 35px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
  }
  .desktop43142231-image03 {
    top: 4.375px;
    left: 4.375px;
    width: 26px;
    height: 26px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-text {
    top: 251px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text01 {
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text02 {
    top: 342px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 234px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text03 {
    color: rgba(0, 88, 134, 1);
    width: 234px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text04 {
    top: 464px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 253px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text05 {
    color: rgba(0, 88, 134, 1);
    width: 253px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text06 {
    top: 677px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text07 {
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text08 {
    top: 587px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text09 {
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text10 {
    top: 768px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text11 {
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text12 {
    top: 859px;
    left: 52px;
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 500px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text13 {
    color: rgba(0, 88, 134, 1);
    width: 318px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 500px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image04 {
    top: 256px;
    left: 273px;
    width: 35px;
    height: 35px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image05 {
    top: 682px;
    left: 273px;
    width: 35px;
    height: 35px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image06 {
    top: 488px;
    left: 273px;
    width: 35px;
    height: 35px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-text14 {
    top: 288px;
    left: 436px;
    color: rgba(0, 88, 134, 1);
    width: 510px;
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text15 {
    color: rgba(0, 88, 134, 1);
    width: 510px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image07 {
    top: 420px;
    left: 464px;
    width: 753px;
    height: 194px;
    position: absolute;
    box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
    object-fit: cover;
    border-color: rgba(3, 133, 182, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop43142231-text16 {
    top: 453px;
    left: 512px;
    color: rgba(0, 88, 134, 1);
    width: 461px;
    height: auto;
    position: absolute;
    font-size: 45px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text17 {
    color: rgba(0, 88, 134, 1);
    width: 461px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 600px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text18 {
    top: 516px;
    left: 512px;
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text19 {
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image08 {
    top: 679px;
    left: 464px;
    width: 753px;
    height: 194px;
    position: absolute;
    box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
    object-fit: cover;
    border-color: rgba(3, 133, 182, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop43142231-image09 {
    top: 936px;
    left: 464px;
    width: 753px;
    height: 194px;
    position: absolute;
    box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25) ;
    object-fit: cover;
    border-color: rgba(3, 133, 182, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop43142231-text20 {
    top: 711px;
    left: 512px;
    color: rgba(0, 88, 134, 1);
    width: 477px;
    height: auto;
    position: absolute;
    font-size: 45px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text21 {
    color: rgba(0, 88, 134, 1);
    width: 477px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 600px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text22 {
    top: 970px;
    left: 512px;
    color: rgba(0, 88, 134, 1);
    width: 461px;
    height: auto;
    position: absolute;
    font-size: 45px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text23 {
    color: rgba(0, 88, 134, 1);
    width: 461px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 600px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text24 {
    top: 780px;
    left: 512px;
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text25 {
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text26 {
    top: 1042px;
    left: 512px;
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text27 {
    color: rgba(0, 0, 0, 1);
    width: 461px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image10 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 213px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 25px 25px 80px 0;
    background-color: rgba(0, 88, 134, 1);
  }
  .desktop43142231-text28 {
    top: 73px;
    left: 541px;
    color: rgba(255, 255, 255, 1);
    width: 338px;
    height: auto;
    position: absolute;
    font-size: 80px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text29 {
    color: rgba(255, 255, 255, 1);
    width: 338px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image11 {
    top: 71px;
    left: 427px;
    width: 95px;
    height: 95px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 100px;
  }
  .desktop43142231-svg {
    top: 45px;
    left: 40px;
    width: 53;
    height: 28;
    position: absolute;
  }
  .desktop43142231-text30 {
    top: 42px;
    left: 118px;
    color: rgba(255, 255, 255, 1);
    width: 364px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text31 {
    color: rgba(255, 255, 255, 1);
    width: 364px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image12 {
    top: 36px;
    left: 1268px;
    width: 100px;
    height: 105px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 100px;
  }
  .desktop43142231-text32 {
    top: 149px;
    left: 1251px;
    color: rgba(255, 255, 255, 1);
    width: 144px;
    height: auto;
    position: absolute;
    font-size: 25px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto;
    font-weight: 600px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-text33 {
    color: rgba(255, 255, 255, 1);
    width: 144px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 600px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop43142231-image13 {
    top: 952px;
    left: 1002px;
    width: 185px;
    height: 150px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image14 {
    top: 369px;
    left: 273px;
    width: 35px;
    height: 35px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image15 {
    top: 709px;
    left: 1019px;
    width: 148px;
    height: 139px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image16 {
    top: 445px;
    left: 1019px;
    width: 136px;
    height: 139px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .desktop43142231-image17 {
    top: 592px;
    left: 273px;
    width: 35px;
    height: 35px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
