body {
    box-sizing: border-box;
    overflow: scroll;
  }
  
  .login_1 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }

  .login_20_1{
    color: rgba(3,133,182,1);
    position: absolute;
    top:838px;
    left:20px;
    width: 420px;
    height: 70px;
    font-weight: 490;
    font-size: 20px !important;
    border:none;
    background-color: transparent;
  }
  .login_20_2{
    color: rgba(3,133,182,1);
    position: absolute;
    border:none;
    font-size: 20px !important;
    background-color: transparent;
    top:893px;
    font-weight: 490;
    left:10px;
    width: 370px;
    height: 70px
  }
  



  .login_2 {
    width: 100%;
    height: 213px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100px;
  }
  .login_3 {
    width: 95px;
    height: 95px;
    background: url("../images/v119_1802.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 427px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .login_4 {
    width: 53px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 43px;
    left: 40px;
  }
  .login_5 {
    width: 364px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 40px;
    left: 118px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    background-color: transparent;
    border: none;
  }
  .login_6 {
    width: 338px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 73px;
    left: 541px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: left;
  }
  .login_7 {
    width: 292px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 282px;
    left: 80px;
    font-family: Roboto;
    font-weight: ExtraBold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .login_8 {
    width: 119px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 392px;
    left: 87px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .login_name {
    color: #fff;
  }
  .login_9 {
    border-color: rgba(3,133,182,1);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 251px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 456px;
    left: 87px;
    font-family: Roboto;
    font-weight: Italic;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .login_10 {
    width: 185px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 522px;
    left: 87px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .login_name {
    color: #fff;
  }
  .login_11 {
    width: 251px;
    border-color: rgba(3,133,182,1);
    border-top: none;
    border-left: none;
    border-right: none;

    color: rgba(3,133,182,1);
    position: absolute;
    top: 578px;
    left: 87px;
    font-family: Roboto;
    font-weight: Italic;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .login_12 {
    width: 190px;
    height: 60px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 677px;
    left: 87px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .login_13 {
    width: 110px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 687px;
    left: 130px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    align-content: center;
    text-align: center;
    vertical-align: middle;

  }
  .login_14 {
    width: 27px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 578px;
    left: 372px;
    overflow: hidden;
  }
  .login_15 {
    width: 27px;
    height: 24px;
    background: url("/assets/login_image.jpg");
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .login_16 {
    width: 19px;
    height: 23px;
    background:transparent;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 4px;
  }
  .login_17 {
    width: 27px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 456px;
    left: 372px;
    overflow: hidden;
  }
  .login_18 {
    width: 27px;
    height: 24px;
    background: url("/assets/login_image.jpg");
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .login_19 {
    width: 23px;
    height: 19px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 2px;
  }
  .login_20 {
    width: 444px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 838px;
    left: 87px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    opacity: 1;
    text-align: left;
    background-color: transparent;
    border: none;

  }
  .login_21 {
    width: 444px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 893px;
    left: 87px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    opacity: 1;
    text-align: left;
    background-color: transparent;
    border: none;
  }
  .login_22 {
    width: 578px;
    height: 525px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 242px;
    left: 695px;
    overflow: hidden;
  }
  