.start_header{
    width: 1350px;
    height: 300px;
    background: #005886;
    opacity: 1;
    position: absolute;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 500px;
    left: 40px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
    display: inline;
   
    

  }

  .v79_1097_startAssessments {
    width: 1350px;
    height: 500px;
    padding-top: 50px;
    
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
  }
  .start_subject{
      top:15px;
      position: absolute;
      left : 20px;
      color: rgba(255,255,255,1);
  }
  .start_creator{
    top:15px;
    position: absolute;
    left : 525px;
    color: rgba(255,255,255,1);

  }

  .start_score{
    top:15px;
    position: absolute;
    left : 1100px;
    color: rgba(255,255,255,1);

  }
  .start_time{
    
    position: absolute;
    left : 20px;
    color: rgba(3,133,182,1);
    font-size: 20px;
    top:10px;

  }
  .time_remaining{
    
    position: absolute;
    left : 510px;
    color: rgba(3,133,182,1);
    font-size: 20px;
    top:10px;

  }
  .time_allotted{
    
    position: absolute;
    left : 1080px;
    color: rgba(3,133,182,1);
    font-size: 20px;
    top:10px;

  }
  


  .timer{
    width: 1330px;
    height: 50px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 90px;
    left: 10px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
   

  }

  .q{
    top:200px;
    left:40px;
    position: relative;
    

}


.displayer {
    width: 1350px;
    height: 600px;
    padding-top: 50px;
    
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
  }

  .sawaal {
    position: absolute;
    left: 90px;
    text-align: left;
    background-color: transparent;
    border: none;
    display: inline;
    color: rgba(3,133,182,1);
    font-family: Roboto;
    width :1200px;
    font-size: 20px;
    opacity: 1;
    height: 150px;
    overflow-y: scroll;
    overflow-x: scroll;
    overflow: auto;
    scrollbar-color:inherit
    
    
    
    
  }
  .jawaab{
    border: 1px solid rgba(3,133,182,0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline;
    color: rgba(3,133,182,1);
    font-family: Roboto;
    width :1200px;
    font-size: 20px;
    opacity: 1;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .ss{
      display: inline;
      position: relative;
      left :0px;
      background-color: rgba(3,133,182,1);
        font-size: 20px;
        border:none;
        color:rgba(255,255,255,1);
        height: 60px;
        width: 90px;
        border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
       
      
  }
  