.v54_449_studentAssessments {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v54_455_studentAssessments {
    width: 510px;
    color: rgba(3,133,182,1);
    position: absolute;
    top: 288px;
    left: 87px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v54_460_studentAssessments {
    width: 463px;
    height: 96px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 416px;
    left: 93px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v54_461_studentAssessments {
    width: 463px;
    height: 96px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 596px;
    left: 93px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v54_467_studentAssessments {
    width: 377px;
    color: rgba(255,255,255,1);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 621px;
    left: 143px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v54_462_studentAssessments {
    width: 354px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 442px;
    left: 157px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v54_465_studentAssessments {
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 441px;
    left: 367px;
    overflow: hidden;
  }
  .v54_466_studentAssessments {
    width: 35px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 444px;
    left: 506px;
  }
  .v55_247_studentAssessments {
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 616px;
    left: 482px;
    overflow: hidden;
  }
  .v55_248_studentAssessments {
    width: 37px;
    height: 41px;
    background: url("../images/v55_248.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 4px;
    overflow: hidden;
  }
  .v55_249_studentAssessments {
    width: 22px;
    height: 26px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  .v55_250_studentAssessments {
    width: 37px;
    height: 41px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v119_1887_studentAssessments {
    width: 100%;
    height: 213px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 80px;
    overflow: hidden;
  }
  .v119_1888_studentAssessments {
    width: 338px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 73px;
    left: 541px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: left;
  }
  .v119_1889_studentAssessments {
    width: 95px;
    height: 95px;
    background: url("../images/v119_1889.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 427px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v119_1890_studentAssessments {
    width: 53px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 40px;
  }
  .v119_1891_studentAssessments {
    width: 364px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 42px;
    left: 118px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .name_studentAssessments {
    color: #fff;
  }
  .name_studentAssessments {
    color: #fff;
  }
  .v127_488_studentAssessments {
    width: 360px;
    height: 343px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 397px;
    left: 897px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .v127_564_studentAssessments {
    width: 360px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 0px;
    overflow: hidden;
  }
  
  .v127_579_studentAssessments{
    width: 8px;
    height: 8px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 208px;
    left: 134px;
    border-radius: 50%;
  }
  .v127_580_studentAssessments {
    width: 8px;
    height: 8px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 263px;
    left: 134px;
    border-radius: 50%;
  }
  .v127_581_studentAssessments {
    width: 8px;
    height: 8px;
    background: rgba(3,133,182,1);
    opacity: 1;
    position: absolute;
    top: 208px;
    left: 187px;
    border-radius: 50%;
  }